
.has-slimscroll {
    overflow-y: auto;
  }
  
  .has-slimscroll-x {
    overflow-x: auto;
  }
  
  .has-slimscroll-all {
    overflow: auto;
  }
  
  .has-slimscroll,
  .has-slimscroll-x,
  .has-slimscroll-all {
    &::-webkit-scrollbar {
      height: 6px !important;
      width: 6px !important;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      background: rgb(0 0 0 / 20%) !important;
    }
  }
  
  .has-slimscroll-sm {
    &::-webkit-scrollbar {
      height: 3px !important;
      width: 3px !important;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      background: rgb(0 0 0 / 20%) !important;
    }
  }